@import url("fonts.css");
@import url("reset.css");

body{
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	line-height: 1.6;
}
.wrapper {
   min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex: 1 1 auto;
}
[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}
/* ============================================ */
.header__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 36px;
	padding-bottom: 50px;
	gap: 10px;
}
.header__logo {
	font-family: "Merriweather", sans-serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
}
.header__menu {
	font-family: "Merriweather", sans-serif;
	font-size: 20px;
	font-weight: 400;
}
.menu {
	display: flex;
	column-gap: 36px;
	flex-wrap: wrap;
}
.menu__item{
	display: flex;
	gap: 4px;
	transition: transform 0.2s;
}
.menu__item:hover{
	transform: scale(1.03);
	text-decoration: underline;
}
.menu__item:not(:first-child)::after {
	content: "";
	background: url("../img/header/arrow.svg") center no-repeat;
	width: 16px;
	height: 8px;
	display: block;
	align-self: center;
}
.link-login {
	color: #fff;
	font-family: "Merriweather", sans-serif;
	font-weight: 700;
	border-radius: 2px;
	background-color: #FF7A49;
	padding: 12px 26px;
}
.link-login:hover{
	background-color: #df693e;
}
/* ============================================ */
.jewellery-01 {
	/* background-color: #FEFAF4; */
	background: #FEFAF4 url("../img/jewellery-01/decor-flour.webp") right 400px no-repeat;
}
.jewellery-02{
	padding: 50px 0px;
}
.jewellery-03{
	background-color: #0E333D;
	padding: 94px 0px;
}
.jewellery-01__title,
.jewellery-02__title,
.jewellery-03__title  {
	font-family: "DM Serif Text", sans-serif;
	font-size: 58px;
	margin-bottom: 25px;
}
.jewellery-02__title{
	text-align: center;
}
.jewellery-03__title{
	color: #fff;
	font-size: 48px;
	text-align: center;
}
.jewellery-01__subtitle {
	color: #606060;
	font-size: 20px;
	line-height: 1.8;
	margin-bottom: 50px;
}
.jewellery-02__subtitle{
	color: #818181;
	text-align: center;
	font-family: "Cormorant Infant", sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 62px;
}
.jewellery-03__subtitle{
	margin-bottom: 34px;
}
.jewellery-03__subtitle,
.jewellery-03__list{
	color: #EBEBEB;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	text-align: center;
	line-height: 1.25;
}
.jewellery-03__list{
	display: flex;
	gap: 41px;
	justify-content: center;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 77px;
}
.jewellery-03__item a:hover{
	text-decoration: underline;
}
.jewellery-02__body{
	display: flex;
	flex-direction: column;
	gap: 76px;
}
.jewellery-02__link{
	align-self: center;
}
.link-more{
	color: #fff;
	font-family: "Ubuntu",sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.87;
	padding: 12px 40px;
	background-color: #FF7A49;	
	transition: all 0.3s;
}
.link-more:hover{
	background-color: #df693e;
}
.products{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
}
.products-02,
.products-03 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.card {
	padding: 0 25px;
	flex: 1 0 33.333%;
	margin-bottom: 50px;
}
.card-02,
.card-03 {
	padding: 0 15px;
	flex: 1 0 25%;
}
.card__item,
.card-02__item,
.card-03__item {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;	
}
.products-02__card:not(:last-child),
.products-03__card:not(:last-child){
	margin-bottom: 30px;
}
.card-02__item,
.card-03__item{
	gap: 10px;
} 
.card__image,
.card-02__image,
.card-03__image{
	width: 100%;
	height: 100%;
	aspect-ratio: 357/240;
	object-fit: cover;
	transition: all 0.3s;
}
.card-02__image,
.card-03__image{
	aspect-ratio: 270/270;
	border-radius: 5px;
	transition: transform 0.2s;
}
.card-02__link{
	overflow: hidden;
}
.card-02__item:hover .card-02__image,
.card-03__item:hover .card-03__image{
	transform: scale(1.05);
}
.card__title{
	font-family: "DM Serif Text", sans-serif;
	font-size: 24px;
	margin-bottom: 16px;
	line-height: 1.2;
}
.card__image:hover{
	box-shadow: 1px 1px 15px #111;
}
.read-more__link {
	color: #F55529;
	font-family: Inter;
	font-size: 16px;
	font-weight: 800;
	line-height: 1.5;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: relative;
}
.read-more__link::before{
	content: "";
	display: block;
	width: 0;
	height: 2px;
	left: 50%;
	position: absolute;
	bottom: -8px;
	transition: all 0.2s;
}
.read-more__link:hover::before{
	background-color: #F55529;
	width: 100%;
	left: 0;
}
.read-more__link::after{
	content: "";
	display: block;
	background: url("../img/jewellery-01/arrow.svg") no-repeat;
	width: 24px;
	height: 24px;
}
.card-02__link,
.card-03__link{
	color: #000;
	font-family: "Cormorant Infant", sans-serif;
	font-size: 24px;
	font-weight: 700;
}
.card-03__link{
	color: #FFF;
}
.card-03__link:hover{
	text-decoration: underline;
}

/* ================================================================== */
.consulting{	
	color: #FFF;
	font-family: "Inter", sans-serif;
	font-size: 18px;	
	font-weight: 400;
	background-color: #37393F;
	position: relative;
}
.consulting__image{
	position: absolute;
	right: 0;
	top: 0;
	width: 40%;
	height: 100%;
}
.consulting__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.consulting__content{
	max-width: 58%;
	padding: 138px 0px;
}
.consulting__label{
	font-weight: 500;
	display: flex;
	flex-wrap: nowrap;
	gap: 6px;
	line-height: 1.22;
	margin-bottom: 13px;
}
.consulting__label::before{
	content: "";
	width: 12px;
	height: 12px;
	background-color: #40DDB6;
	align-self: center;
}
.consulting__title{
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	max-width: 370px;
	margin-bottom: 13px;
}
.consulting__text{
	margin-bottom: 36px;
}
.counter__row{
	display: flex;
	gap: 15px;
	margin-bottom: 36px;
}
.counter__content{
	display: flex;
	gap: 12px;
	padding: 27px 30px;
	background-color: #2E2F34;
	flex: 1 1 50%;
}
.counter__chart{
	border-radius: 50%;
}
.counter__label{
	font-size: 16px;
	align-self: center;
}
.counter__label span{
	display: block;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
.stat__row {
	display: flex;
	gap: 23px;

}
.stat__column {
	display: flex;
	flex-direction: column;
	gap: 23px;
	flex-grow: 0;
	flex-shrink: 0;
}
.stat__item {
	font-size: 20px;
	display: flex;
	gap: 8px;
}
.stat__item span{
	font-weight: 700;
}
.stat__item::before{
	content: "";
	background: url("../img/consulting/check.webp") no-repeat;
	width: 27px;
	height: 27px;
	align-self: center;
	flex-grow: 0;
	flex-shrink: 0;
}
.stat__link {
	color: #40DDB6;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
}
.stat__link::after{
	content: "";
	height: 2px;
	width: 100%;
	background-color: #40DDB6;
	position: absolute;
	left: 0;
	bottom: 0;
}
.stat__gold-star{
	color: #FFB342;
	align-items: center;
}
.stat__gold-star span{
	display: inline-flex;
	align-items: center;
	gap: 5px;
}
.stat__gold-star span::after{
	content: "";
	background: url("../img/consulting/star.svg") center no-repeat;
	width: 17px;
	height: 17px;	
	flex: 0 0 17px;
	margin-right: 5px;
}
/* ================================================================== */
.footer{
	background-color:#111; 
}
.footer__content{
	padding: 35px;
	text-align: center;
	color: #fff;
}
/* ==================================================================== */
@media(max-width: 840px){
	.products__card,
	.products-02__card,
	.products-03__card{
		flex: 1 0 50%;
	}
	.consulting__image{
		display: none;
	}
	.consulting__content{
		max-width: 100%;
		padding: 30px 0px;
	}
	.jewellery-03{
		padding: 30px 0px;
	}
	.jewellery-01__title,
	.jewellery-02__title,
	.jewellery-03__title{
		font-size: 38px;
		margin-bottom: 15px;
	}
	.jewellery-01__subtitle,
	.jewellery-02__subtitle,
	.jewellery-03__subtitle{
		margin-bottom: 15px;
	}
	.read-more__link{
		font-size: 20px;
	}
}
@media(max-width: 490px){
	.products__card,
	.products-02__card,
	.products-03__card{
		flex: 1 0 100%;
	}
	.counter__row{
		flex-wrap: wrap;
	}
	.stat__row{
		flex-wrap: wrap;
	}
	.jewellery-01__title,
	.jewellery-02__title,
	.jewellery-03__title {
		font-size: 38px;
	}

}