@import url("fonts.css");
@import url("reset.css");
/* Стилі загальних блоків (компонентів) */
@import url("common.css");

body{
	font-family: "Cormorant Infant";
	font-weight: 700;
}
.wrapper {
   min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex: 1 1 auto;
}
[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}
/* ============================================ */
.header {
	width: 100%;
	border-bottom: 1px solid rgba(131, 131, 131, 0.21);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #FFF9F4;
}
.header__body {
	display: flex;
	align-items: center;
	min-height: 106px;
	gap: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.header__logo {
	color: #000;
	font-family: Merriweather;
	font-size: 30px;
	font-style: italic;
	font-weight: 700;
	line-height: 1.26; /* 30/38 */
	flex-shrink: 0;
	position: relative;
	z-index: 5;
}
.menu {
	flex: 1 1 auto;
}
.menu__list {
	display: flex;
	justify-content: center;
	column-gap: 36px;
	row-gap: 8px;
	flex-wrap: wrap;
}
.menu__link {
	font-family: "Merriweather";
	font-size: 20px;
	font-weight: 400;
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.menu__item:hover .menu__link {
		text-decoration-line: underline;
		font-weight: 700;
	}
}
.menu__item--parent{
	position: relative;
}
.menu__item--parent .menu__link{
	display: flex;
	align-items: center;
	gap: 4px;
}
.menu__item--parent .menu__link::after{
	content: "";
	background: url("../img/header/arrow.png") 0 0 no-repeat;
	flex: 0 0 16px;
	height: 8px;
	width: 16px;
	transition: transform 0.3s;
}
@media(any-hover: hover){
	.menu__item--parent:hover .sub-menu {
		opacity: 1;
		transform: translate(0px, 0px);
		visibility: visible;
		pointer-events: all;
	}
	.menu__item--parent:hover .menu__link::after {
		transform: rotate(-180deg);
	}
}
.sub-menu {
	transition: all 0.3s;
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 5px;
	transform: translate(0px, 10%);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.sub-menu__list {
	width: 150px;
	border-radius: 10px;
	padding: 15px;
	background-color: #0E333D; 
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}
.sub-menu__item:not(:last-child) {
	margin-bottom: 15px;
}
.sub-menu__link {
	color: #fff;
	font-size: 18px;
}
.header__btn {
	border-radius: 5px;
	background-color: #0E333D;
	color: #fff;
	font-family: "Merriweather";
	font-size: 20px;
	font-weight: 700;
	padding: 12px 26px;
	z-index: 4;
	transition: all 0.3s;
}
.icon-menu{
	display: none;
}
@media (any-hover: hover) {
	.sub-menu__link:hover {
		text-decoration: underline;
	}
	.header__btn:hover{
		background-color: #fff;
		outline: 1px solid #0E333D;
		color: #0E333D;
	}
}
@media (max-width:1035px){
	.header__body{
		min-height: 60px;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		top: 20px;
		left: -100%;
		transition: left 0.3s;
		padding: 80px 15px 30px 15px;
		background-color: #FFF9F4;
	}
	.menu__body::before{
		content: "";
		position: fixed;
		width: 100%;
		height: 60px;
		top: 0;
		left: -100%;
		z-index: 2;
		transition: left 0.3s;
		background-color: #fff;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before {
		left: 0;
	}
	.menu__list {
		flex-direction: column;
		align-items: flex-end;
		row-gap: 28px;
	}
	.menu__link {
		font-size: 28px;
	}
	.menu__item--parent .menu__link {
		display: block;
	}
	.menu__item--parent .menu__link::after {
		display: none;
	}
	.sub-menu {
		position: relative;
		visibility: visible;
		opacity: 1;
		padding-top: 10px;
		transform: translate(0px, 0px);
	}
	.sub-menu__list {
		width: 100%;
		background-color: #FFF9F4;
		box-shadow: none;		
	}
	.sub-menu__link{
		color: #000;
	}
	.sub-menu__item:not(:last-child) {
		margin-bottom: 20px;
	}
	.icon-menu {
		width: 30px;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}
	.icon-menu::before,
	.icon-menu::after,
	.icon-menu span {
		content: "";
		height: 2px;
		width: 100%;
		position: absolute;
		left: 0;
		transition: all 0.3s;
		background-color: #000;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .icon-menu span {
		transform: scale(0);
	}
	.menu-open .icon-menu::before {
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -1px;
	}
	.menu-open .icon-menu::after {
		transform: rotate(45deg);
		bottom: 50%;
		margin-bottom: -1px;
	}	
}
@media (max-width:440px) {
	.header__logo{
		font-size: 22px;
	}
	.header__btn{
		font-size: 18px;
		font-weight: 400;
		padding: 10px 10px;
	}
	.header__body{
		gap: 20px;
	}
}
/* ======================================== */
.hero{
	padding: 206px 0px 140px 0px;
	background-color: #FFF9F4;
}
.hero__container{
	display: flex;
	flex-wrap: wrap;
}
.hero__body{
	display: flex;
	column-gap: 20px;
	row-gap: 20px;
	justify-content: space-between;
}
.hero__content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 0 1 577px; 
	align-self: center;
}
.hero__title{
	color: #0E333D;
	font-family: "DM Serif Text";
	font-size: 78px;
	font-weight: 400;
	line-height: 1.27;
	flex-grow: 0;
	max-width: 514px;
	margin-bottom: 32px;
}
.hero__text{
	color: #727272;
	font-family: "Inter";
	font-size: 22px;
	font-weight: 400;
	line-height: 1.48;
	margin-bottom: 48px;
}
.hero__text p:not(:last-child){
	margin-bottom: 10px;
}
.link-hero{
	display: flex;
	flex-wrap: wrap;
	column-gap: 47px;
	row-gap: 20px;
	align-items: center;
	font-family: "DM Serif Text";
	font-size: 28px;
	font-weight: 400;
	flex-grow: 0;
	flex-shrink: 0;
}
.link-hero__shop{
	background-color: #0E333D;
	border-radius: 5px;
	color: #fff;	
	padding: 10px 44px;	
	transition: all 0.3s;
}

.link-hero__video{
	color: #0E333D;
	transition: all 0.3s;
}

.hero__images{
	display: flex;
	column-gap: 31px; 
	justify-content: space-between;
}
.hero__img{
	flex: 0 1 245px;
	overflow: hidden;
}
.hero__img img{
	width: 100%;
	height: 100%;
	aspect-ratio: 245/467; 
	object-fit: cover;
}
.hero__img:nth-child(1){
	padding-top:69px;
}
.hero__img:nth-child(2){
	padding-bottom: 69px;
}

@media(max-width:1035px){
	.hero{
		padding-top: 120px;
		padding-bottom: 70px;
	}
	.hero__title{
		font-size: 60px;
	}
	.hero__images{
		column-gap: 20px;
	}
	.hero__img:nth-child(1){
		padding-top: 0px;
	}
	.hero__img:nth-child(2){
		padding-bottom: 0px;
	}
}

@media(max-width:840px){
	.hero__body{
		flex-wrap: wrap;
		justify-content: center;
	}
	.hero__content{
		flex-grow: 1;
		align-items: center;
		text-align: center;
	}
	.hero__title{
		max-width: 700px;
		font-size: 50px;
		margin-bottom: 20px;
	}
	.hero__text{
		text-align: center;
		padding: 0px 50px;
		margin-bottom: 20px;
	}
	.link-hero{
		column-gap: 20px;
		justify-content: center;
	}
}
@media (any-hover:hover) {
	.link-hero__shop:hover{
		background-color: #fff;
		outline: 1px solid #0E333D;
		color: #0E333D;
	}
	.link-hero__video:hover{
		text-decoration: underline;
	}
}