.page {

	&__hero {
	}
}
.hero {
	display: flex;
	padding-top: 191px;
	height: 100%;

	&__image {
		flex: 1 1 auto;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			aspect-ratio: 1920 / 815;
			object-fit: cover;
			z-index: 5;
		}
	}

	&__box{
		max-width: 43%;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(55, 57, 63, 0.91);
		padding-left: 117px;
		padding-right: 104px;
		display: flex;
	}

	&__content {
		flex: 1 1 100%;
		align-self: center;
		display: flex;
		flex-direction: column;
		p{
			&:not(:last-child){
				margin-bottom: 35px;
			}
		}
	}

	&__label {
		font-size: 18px;
		font-weight: 600;
		line-height: 146.187%;
		color: $colorWhite;
		display: flex;
		flex-shrink: 0;
		column-gap: 7px;
		align-items: center;
		margin-bottom: 10px;
		&::before{
			content: "";
			width: 11px;
			height: 11px;
			background-color: #40DDB6;;
		}
	}

	&__title {
		font-family: "Poppins";
		font-size: 60px;
		color: $colorWhite;
		font-weight: 700;
		line-height: 110%;
		margin-bottom: 20px;
		span{
			color: #40DDB6;
			text-transform: uppercase;
		}
	}

	p{
		color: #B9B9B9;
		font-weight: 500;
		line-height: 146.187%;
		
	}

	&__active {
		display: flex;
		column-gap: 30px;
		align-items: center;
		flex-wrap: wrap;
	}

	&__btn{
		flex-shrink: 0;
		color: #37393F;
		font-weight: 600;
		text-transform: capitalize;
		padding: 22px 27px;
		background-color: #40DDB6;
		transition: background-color 0.3s;
		@media (any-hover:hover){
			&:hover{
				background-color: $colorPurple;
			}
		}
	}

	&__link {
		flex-shrink: 0;
		color: $colorWhite;
		font-weight: 600;
		text-transform: capitalize;
		line-height: 1.22;
		display: flex;
		align-items: center;
		column-gap: 10px;
		transition: text-decoration 0.3s;

		&::before{
			content: "";
			background: url(../img/hero/play.png) center no-repeat;
			width: 60px;
			height: 60px;
		}
		@media (any-hover:hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}

	@media (max-width:1570px){
		&__box{
			max-width: 50%;
			padding-left: 80px;
			padding-right: 80px;
		}
		&__title{
			font-size: 48px;
		}
		&__active{
			row-gap: 20px;
		}
	}
	@media (max-width:1180px){
		&__box{
			max-width: 70%;
		}
		&__title{
			font-size: 32px;
		}
	}
	@media (max-width:1035px){
		&__box{
			max-width: 100%;
			height: 100%;
		}
		&{
			padding-top: 80px;
		}
	
	}
	@media(max-width:800px){
		&__image{
			position: inherit;
			img{
				display: none;
			}
		}
		&__title{
			font-size: 50px;
		}
		&__box{
			padding-top: 80px;
		}
	}
	@media(max-width:520px){
		&__title{
			font-size: 38px;
		}
	}
	
}
.label {
}







