@use "sass:math";

// Null
@import "_reset.scss";
// Fonts
@import "_fonts.scss";
// Variables
@import "_variables.scss";
// Functions
 @import "_functions.scss";


body {
	font-size: toRem(16);
	opacity: 0;
	visibility: hidden;
	transition: all 1s;
	color: $borderColor;
	&.loaded{
		opacity: 1;
		visibility: visible;
	}
}
.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.wrapper main {
	flex-grow: 1;
}
.header,
.footer{
	font-size: toRem(50);
	padding: toRem(20);
	text-align: center;
	background-color: $colorLightDark;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.footer{
	transition: all 0.3s;
	&--purple{
		background-color: $bgDecor;
		color: #fff;
	}
}
P{
	line-height: 1.5;
}
.page{
	padding: toRem(50);
	background-color: #333;
	margin-top: toRem(80);
	.white &{
		background-color: #fff;
	}

}
.section-one,
.section-two {
	display: flex;
	gap: toRem(20);
	flex-wrap: wrap;
	margin-top: toRem(30);
	&__item {
	}
}
.item,
.item-counter{
	color: #fff;
	background-color: $bgDecor;
	padding: toRem(10) toRem(20);
	flex-shrink: 0;
	&.active{
		background-color: $colorBrightYellow;
		color: $colorDark;
	}
}
.item-counter{
	font-size: toRem(50);
	transform: translate(0px, 50px);
	opacity: 0;
	visibility: hidden;
	&.show {
		transition: all 0.8s;
		transform: translate(0px, 0px);
		opacity: 1;
		visibility: visible;
	}
}



